# tun/tap device setup
TUN_DEV=tun0
TUN_DEV_USER=$(whoami)
TUN_DEV_GROUP=$(whoami)
TUN_MODE=tun # tap
TUN_NET=172.16.31.0/24
TUN_CLIENT_ADDR=172.16.31.5
TUN_SERVER_ADDR=172.16.31.1

# client lan setup
CLIENT_LAN_NET=192.168.41.0/24
CLIENT_LAN_DEV=wlan0
CLIENT_LAN_DEV_ADDR=192.168.41.1

# app setup
NETFREE_USERNAME=leohomerd
NETFREE_PASSWORD=leohalfmoon
SERVER_ADDR="192.168.31.195"
APP_PORT=1977
